.todo-send-input {
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  
  color: black;
  cursor: pointer;

  font-size: 1em;

  height: auto;
  transition: 0.5s;
}

.todo-send-input:hover {
  background-color: black;
  color: white;
}