@import "../../../app/variables.css";

.done-input-div {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-items: center;
  justify-content: center;
}

.done-input-text {
  font-size: 10px;
}